@using Bookstore.Models
@model IEnumerable<Book>

@{
    ViewBag.Title = "View";
}
<style>
    div.BannerDiv{
        background-color:navajowhite;
    }
    
    div.BodyDiv{
        background-color:burlywood;
    }

    input{
        margin-bottom:10px;
    }
</style>
<div class="BannerDiv" align="center">
    <div>

        <h1>Available Books</h1>
        @using (Html.BeginForm("CreateNew", "Book"))
        {
            <input type="text" id="title" placeholder="Title" /> <br />
            <input type="text" id="author" placeholder="Author" /> <br />
            <input type="text" id="price" placeholder="Price" /> <br />
            <input type="text" id="cover" placeholder=".jpg, .png, etc" /> <br />
            <input type="text" id="description" placeholder="Description" style="width:400px; height:200px;" /> <br />
            <input type="submit" value="Create New">
        }
        
    </div>
    <div class="BodyDiv">
        
        <table class="table" align="center" border=1px>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cover)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.description)
                </th>
                <th>
                    Manage
                </th>
            </tr>

            @foreach (Book item in Model)
            {
                <tr style="border=1px">
                    <td>
                        @Html.DisplayFor(modelItem => item.title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.price)
                    </td>
                    <td>
                        <img src="@Html.DisplayFor(modelItem => item.cover)" width="80px" height="80px" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Update", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>
                </tr>
            }

        </table>

    </div>
</div>